.ChoiceArea {
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

.LeftChoiceArea {
    display: flex;
    justify-content: flex-end;
    width: 40vw;
}

.RightChoiceArea {
    display: flex;
    justify-content: flex-start;
    width: 40vw;
}

.ChoiceButtonGroup {
    position: fixed;
}

.ChoiceButton {
    height: 4em;
}

.wyr {
    text-align: center;
}